<!DOCTYPE html>

<html>
    <head>
        <title>test</title>
        <!-- Dependencies -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="controller.js"></script>
        <script src="seedrandom.js"></script>

        <!-- Local scripts -->
        <script src="maze.js"></script>
        <script src="userinput.js"></script>
        <script src="ui.js"></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css">
        <link rel="stylesheet" href="css.css">
    </head>

    <body ng-app="multimaze">
        <div id="overlay" ng-controller="customRoomController as roomCtrl" ng-hide="customRoom.$submitted">
            <div id="ui">
                <h3>Multimaze</h3>
                <p>Enter a username to begin!</p>
                <form name="customRoom" ng-submit="customRoom.$valid && roomCtrl.join()" novalidate>
                    <input type="text" ng-model="roomCtrl.request.username" placeholder="Username" required/>
                    <input type="text" ng-model="roomCtrl.request.id" placeholder="Optional room ID" length-validation/>
                    <br />
                    <div id="diff">
                        <input type="radio" id="diff-easy" class="form-button" ng-model="roomCtrl.request.diff" value="easy" />
                        <label for="diff-easy">Easy</label>
                        <input type="radio" id="diff-med" class="form-button" ng-model="roomCtrl.request.diff" value="medium" />
                        <label for="diff-med">Medium</label>
                        <input type="radio" id="diff-hard" class="form-button" ng-model="roomCtrl.request.diff" value="hard" />
                        <label for="diff-hard">Hard</label>
                    </div>
                    <br />
                    <input type="submit" id="button-submit" ng-disabled="customRoom.$invalid" value="Play" />
                </form>
            </div>
            <div id="intro">
                <h4>What is Multimaze?</h4>
                <p>
                    Multimaze is a small project designed to utilize <a href="https://angularjs.org/">AngularJS</a> and <a href="https://nodejs.org/en/">Node.js</a> to create a real-time competitive game to solve mazes faster than an opponent. The source code can by found on <a href="https://github.com/edward-shen/multimaze">Github</a>.</p>
            </div>
        </div>

        <div id="chat">
        </div>

        <div id="maze">
        </div>
    </body>

</html>
