<!DOCTYPE html>

<html>
    <head>
        <title>test</title>
        <!-- Dependencies -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="controller.js"></script>
        <script src="seedrandom.js"></script>

        <!-- Local scripts -->
        <script src="maze.js"></script>
        <script src="userinput.js"></script>
        <script src="ui.js"></script>

        <link rel="stylesheet" href="normalize.css">
        <link rel="stylesheet" href="css.css">
    </head>

    <body ng-app="multimaze">
        <div id="overlay" ng-controller="customRoomController as roomCtrl" ng-hide="customRoom.$submitted">
            <div id="ui">
                <h3>Multimaze</h3>
                <form name="customRoom" ng-submit="customRoom.$valid && roomCtrl.join()" novalidate>
                    <input type="text" ng-model="roomCtrl.request.id" placeholder="Optional room ID" length-validation/>
                    <input type="submit" id="buttonID" value="Play" />
                    <br />
                    <input type="radio" ng-model="roomCtrl.request.diff" value="easy">Easy</input>
                    <input type="radio" ng-model="roomCtrl.request.diff" value="medium">Medium</input>
                    <input type="radio" ng-model="roomCtrl.request.diff" value="hard">Hard</input>
                </form>
            </div>
        </div>

        <div id="maze">
        </div>
    </body>

</html>
