.ng-dirty.ng-invalid {
    border-color: red;
}

.ng-dirty.ng-valid {
    border-color: green;
}

#ui {
    background-color: white;
    padding: 20px 20px;
    border-radius: 8px;
}

#overlay {
    z-index:200;
    position: absolute;
    width: 100%;
    min-height: 100%;
    background-color: rgba(51, 51, 51, 0.5);
	display: -webkit-flex;
	display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
}

#diff {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
}

#button-submit {
}

.form-button {
    display: none;
}

.form-button:checked + label {
    background-color:grey;
}

.form-button + label {
    border: 1px solid;
    border-radius: 4px;
    margin-top: 10px;
    padding: 2px;
}

#intro {
    background-color: white;
    padding: 10px 10px;
    border-radius: 8px;
    position: absolute;
    left: 5px;
    bottom: 5px;
    width: 15vw;
    max-height: 30vw;
    overflow-y: auto;
}
